<div class="min-h-screen flex items-center justify-center bg-gradient-to-r from-purple-700 to-blue-500">
    <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-md">
        
        <div class="flex justify-center mb-5">
            <img src="assets/config/logo-text.png" alt="Habit Track Logo" class="w-32">
        </div>

        <h2 class="text-center text-2xl font-bold text-gray-800">Bem-vindo de volta</h2>
        <p class="text-center text-gray-500 mb-5">Faça login para continuar</p>

        <form (ngSubmit)="onLogin()">
            <div class="mb-4">
                <label for="email" class="block text-gray-700 font-medium">Email</label>
                <input id="email" type="email" pInputText [(ngModel)]="email" name="email" required 
                       placeholder="Seu e-mail" class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>

            <div class="mb-4">
                <label for="password" class="block text-gray-700 font-medium">Senha</label>
                <p-password id="password" [(ngModel)]="password" name="password" required [toggleMask]="true" placeholder="Sua senha"
                            class="w-full" inputClass="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                </p-password>
            </div>

            <div class="flex items-center justify-between mb-4">
                <div class="flex items-center">
                    <p-checkbox id="rememberMe" [(ngModel)]="rememberMe" name="rememberMe" binary="true" class="mr-2"></p-checkbox>
                    <label for="rememberMe" class="text-gray-700">Lembrar-me</label>
                </div>
                <a href="#" class="text-blue-500 hover:underline text-sm">Esqueceu a senha?</a>
            </div>

            <button pButton pRipple label="Entrar" class="w-full p-3 text-xl font-bold bg-gradient-to-r from-purple-700 to-blue-500 text-white rounded-md hover:from-purple-600 hover:to-blue-400 transition"></button>

            <div class="text-center mt-5">
                <span class="text-gray-600">Não tem uma conta?</span>
                <a href="/register" class="text-blue-500 font-bold hover:underline">Cadastre-se</a>
            </div>
        </form>
    </div>
</div>
